.secretFile {
    $col-1: 100%/12;
    $col-1-8: 100%/8;
    min-height: calc(100vh - 125px);
    background-color: #fff;

    &__row {
        width: $col-1*12;
        // height: calc(100vh - 125px);
        &.bg-gradient-yellow {
            background-image: linear-gradient(#fff, rgba(255, 195, 29, 0.2));
        }
    }


    &__container {
        width: $col-1*8;
        max-width: 800px;
        margin: 0 auto;
        //margin-bottom: 50px;

        &.mosaico {
            width: $col-1*12;
            max-width: 1040px;
            margin: 0 auto;
            padding: 0 20px;
        }
        @include under(sm) {
            width: 100%;
            padding: 0 20px;
        }
    }

    &__content {
        padding: 65px 0 44px;

        @include under(sm) {
            padding: 35px 20px;
        }

        img {
            width: 270px;
            height: auto;
            margin: 0 auto;
            margin-bottom: 57px;
        }

        button {
            @extend %button-secretFile;
        }
    }

    &__name {
        @extend %title-missions;
        @extend %flex-items-center;

        span {
            img {
                width: 22px;
                margin-right: 6px;
            }
        }
    }

    &__title {
        @extend %title-secret-file;
        color: #FFC31D;
    }

    &__sbtitle {
        @extend %sbtitle-missions;
        padding-bottom: 22px;
        text-transform: uppercase;

        @include under(sm) {
            padding-bottom: 10px;
        }
    }

    &__desc {
        @extend %paragraph-missions-desc;
    }

    &__header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__filters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 38px 0 0 0;
        margin-bottom: 35px;
        @include under(sm) {
            flex-direction: column;
            padding: 0 20px;

        }
        .flex {
            width: 65%;
            @include under(sm) {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            button {
                @extend %IBMPlexSans-SemiBold;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.5px;
                color: c(green);
                padding: 0 10px;
                background-color: transparent;
                border: 0;
                @include under(sm) {
                    width: 100%;
                    margin-top: 21px;
                    text-align: center;
                }
            }

        }
    }

    &__filter {
        width: 100%;
        max-width: 190px;
        position: relative;
        @include under(xs) {
            max-width: 100%;
            margin-bottom: 10px;
        }

        &-select {
            width: 100%;
            min-height: 30px;
            border-radius: 0;
            border: 1px solid c(green);
            background-color: white;
            color: c(green);
            padding: 0 10px;
            @extend %IBMPlexSans-SemiBold;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.5px;
            padding-right: 31px;
        }

        &:nth-child(1) {
            margin-right: 10px;
            @include under(xs) {
                margin-right: 0;
            }
        }

        &::after {
            content: url('/images/arrow-bottom.svg');
            // content: "\025be";
            color: c(green);
            display: table-cell;
            text-align: center;
            width: 12px;
            min-height: 30px;
            position: absolute;
            top: 0;
            right: 10px;
            pointer-events: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }

    &__search {
        input[type="search"] {
            width: 100%;
            max-width: 180px;
            min-height: 30px;
            border-radius: 0;
            border: 1px solid c(green);
            background-color: white;
            color: c(green);
            padding: 0 10px;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.5px;
            padding-right: 31px;
            margin-bottom: 0;
            @extend %IBMPlexSans;
            @include under(sm) {
                margin-top: 21px;
                max-width: 100%;
            }
            &::placeholder {
                color: c(green);
                @extend %IBMPlexSans;
                font-size: 16px;
                line-height: 25px;
            }
        }

        button {
            @extend %IBMPlexSans-SemiBold;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.5px;
            color: c(green);
            padding: 0 10px;
            background-color: transparent;
            border: 0;
            @include under(sm) {
                display: none;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__card {
        width: 50%;
        display: flex;
        margin: 25px 0 25px 0;
        cursor: pointer;
        @include under(md) {
            width: 100%;
            flex-direction: row;
        }

        @include under(sm) {
            flex-direction: column;
        }

        .box-aspect-ratio {
            width: 83.59%;
            padding-bottom: 42.4%;
            background-color: #E6E6E6;
            @include under(sm) {
                width: calc(100% - 40px);
                padding-bottom: 67.4%;
                margin: 0 auto;
            }
        }
        .box-content {
            padding: 20px 20px 0;
            width: 64.7%;
            @include under(sm) {
                width: 100%;
            }
            .title {
                @extend %IBMPlexSans-SemiBold;
                font-size: 11px;
                line-height: 20px;
                letter-spacing: 1.5px;
                color: c(green);
                text-transform: uppercase;
            }

            .sbtitle {
                @extend %IBMPlexMono;
                font-size: 14px;
                line-height: 20px;
                color: c(orange);
            }

            .text {
                @extend %IBMPlexSans;
                font-size: 18px;
                line-height: 25px;
                color: c(green);
                padding-top: 20px;
            }
        }
    }


    &__modal  {
        width: .001px;
        position: fixed;
        bottom: -10px;
        left: -100%;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        display: flex;
        // min-height: calc(100vh - 70px);
        &.view {
            width: 100%;
            min-height: calc(100vh - 70px);
            left: 0;
            @include under(bag) {
                width: 90%;
                min-height: calc(100vh - 70px);
                left: 5%;
            }
            @include under(sm) {
                min-height: auto;
                top: 50%;
                left: 50%;
                bottom: inherit;
                transform: translate(-50%, -50%);
            }
        }

        .secretFile__title {
            display: flex;
            flex-direction: row;
            align-items: center;
            span {
                @extend %IBMPlexSans-SemiBold;
                font-size: 15px;
                color: c(green);
                border: 1px solid c(green);
                padding: 0 10px;
                margin-left: 10px;
            }
        }

        &-container {
            width: 100%;
            max-width: 765px;
            background-color: white;
            margin: 0 auto;
            min-height: 90vh;
            border-radius: 20px;
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            @include under(sm) {
                min-height: auto;
            }
        }

        &-content {
            width: 100%;
            max-width: 585px;
            margin: 0 auto;
            height: 100%;
            min-height: 90vh;
            padding: 40px 0;
            @include under(sm) {
                padding: 40px 20px;
                min-height: auto;
            }
        }

        .box-aspect-ratio {
            @extend %box-aspect-ratio;
            width: 100%;
            padding-bottom: 57%;
            background-color: #E6E6E6;
        }

        .box-content {
            .title {
                @extend %IBMPlexSans-SemiBold;
                font-size: 11px;
                line-height: 20px;
                letter-spacing: 1.5px;
                color: c(green);
                text-transform: uppercase;
            }

            .sbtitle {
                @extend %IBMPlexMono;
                font-size: 14px;
                line-height: 20px;
                color: c(orange);
            }

            .description {
                @extend %IBMPlexSans;
                font-size: 18px;
                line-height: 25px;
                color: c(green);
                padding-top: 20px;
                padding-bottom: 12px;
            }

            .text {
                @extend %IBMPlexSans;
                font-size: 14px;
                line-height: 20px;
                padding-bottom: 36px;
                strong {
                    @extend %IBMPlexSans-SemiBold;
                }
                a {
                    text-decoration: underline;
                }

                i {
                    font-style: italic;
                }
            }
        }
        .slick-prev,
        .slick-next {
            width: 35px;
            height: 35px;
            &.slick-disabled:before {
                opacity: .55;
            }
        }

        .slick-prev {
            left: -107px;
            @include under(bag) {
                left: -80px;
            }
            @include under(sm) {
                left: -35px;
            }
            &:before {
                content: url('/images/arrow-left.svg');
            }
        }

        .slick-next {
            right: -107px;
            @include under(bag) {
                right: -80px;
            }
            @include under(sm) {
                right: -35px;
            }
            &:before {
                content: url('/images/arrow-right.svg');
            }
        }

        .slider__track {
            width: 100% !important;
        }

        .slider__modal {
            outline: none;
            padding: 0 10px;
        }
    }

    &__close-JS {
        position: absolute;
        top: -17px;
        right: -16px;
        cursor: pointer;
        img {
            width: 35px;
            height: auto;
        }
    }
}
