%IBMPlexMono, .IBMPlexMono {
    font-family: f(IBMPlexMono);
}

%IBMPlexSans-SemiBold, .IBMPlexSans-SemiBold {
    font-family: f(IBMPlexSans-SemiBold);
}

%IBMPlexSans, .IBMPlexSans {
    font-family: f(IBMPlexSans);
}
