.flex {
  display: flex !important;
}
.image {
  background-color: lightgray;
}

.col-button {
	text-align: center;
	width: 90px;
}

.collapsible-header i {
    width: inherit;
}

.no-top {
  top: 0 !important;
}

.mt-5 {
  margin-top: 5%;
}

.mb-5 {
  margin-bottom: 5%;
}

.btn {
    border: 1px solid #808080;
    background-color: transparent;
    color: #221f1f;
    box-shadow: none;
    &:hover {
        border: 1px solid #808080;
        background-color: transparent;
        color: #221f1f;
    }
}

.btn-floating {
    background-color: #6d6e70;
}

input, select, .vue-html5-editor {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #58595b;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #58595b;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #58595b;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #58595b;
    }
    border-color: #808080 !important;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #808080;
}

.divider {
    background-color: #cacccd;
}

.align__color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: baseline;
}

.sticker {
    background-color: black;
    color: white;
    padding: 5px;
}

.green-check {
    background-color: #004d40;
}

.rotate {
    transform: rotate(180deg);
}
